HELIXOR_API_URL=http://127.0.0.1:8001
HELIXOR_PROGRAM_ID=Cnn6AWzKD6NjwNZNsJnDYYYTTjt2C9Gow2TZoXzK3U5P
DATABASE_URL=postgresql://helixor:helixor@localhost:55433/helixor
SOLANA_RPC_URL=https://api.devnet.solana.com
ORACLE_KEYPAIR_PATH=/Users/terabyte_trifler/Documents/helixor/helixor-programs/keys/oracle-node.json

# Optional
# HELIXOR_CONSUMER_PROGRAM_ID=94Gg1gnTZex9mFAJZHB3kLbTiJYYEcRvGTgkArftHJmu
# TEST_STABLE_AGENT_WALLET=
# TEST_FAILING_AGENT_WALLET=
# TEST_PROVISIONAL_AGENT_WALLET=
# TEST_OWNER_WALLET=
